html {
font-family: 'Merriweather', serif;
font-size: 75%;
}

header {
  border-bottom: 2px solid black;
}

button, ::placeholder, input, textarea, select, legend {
  font-family: 'Merriweather';
}

*:focus {
  outline: none;
}

input:focus, textarea:focus, select:focus {
  border-color: #2f4f4f;
  background-color: AliceBlue;
}

input, textarea, select {
  color: Gray;
}

label, footer {
  color: #686868;
}

#site-header {
  background-color: #2f4f4f;
  color: white;
  margin: -0.75rem;
  padding: 2rem;
  text-transform: uppercase;
}

#site-header, #newsletter-header, #newsletter-explanation,  footer {
  text-align: center;
}

#newsletter-header {
  padding-top: 1.5rem;
}

#newsletter-explanation {
  padding-bottom: 2rem;
  margin-bottom: 4px;
  border-bottom: 4px solid black;
  color: Gray;

}

#form-header {
  padding-top: 1.5rem;
  margin-top: -0.5rem;
}

form {
  display: flex;
  flex-direction: column;
}

.field-heading, #newsletter-type, #nwsltr-format, #other {
  font-size: larger;
}

#newsletter-type, #nwsltr-format-header, .radio-pair, #other-heading {
  margin-left: 0.5rem;
}

#contact-info label {
  display: block;
}

::placeholder {
  font-style: italic;
  text-align: right;
  padding-right: 1rem;
}

#contact-info input {
  margin-top: 0.5rem;
  height: 3rem;
}



.field {
  padding-bottom: 1.5rem;
}

.field:last-of-type {
  padding-bottom: 2rem;
  border-bottom: 2px solid black;
}

.checkbox-pair, .radio-pair {
  padding: 0.5rem;
}

#newsletter-title {
  padding-top: 2rem;
}

#nwsltr-format {
  margin-top: 1rem;
}

#other {
  margin: 1.5rem 0;
}

textarea {
  margin: 1rem 0;
  height: 7rem;
}

#contact-info input[type="text"], #contact-info input[type="email"], #contact-info input[type="tel"], textarea {
  width: 98%;
}

input[type="number"] {
  width: 50%;
}

select {
  width: 100%;
  margin-top: 0.5rem;
  height: 3.75rem;
}

input, select, textarea {
  background-color: #e8e8e8;
  border-color: #e8e8e8;
  border-radius: 5px;
}

#html-news, #html-format {
  margin-top: 0.75rem;
}

button {
  margin-bottom: 1.25rem;
  width: 100%;
  height: 5rem;
  background-color: #20b2aa;
  border-color: #20b2aa;
  color: white;
  font-size: large;
  font-weight: bold;
  border-radius: 5px;
}

option[value="none"] {
  color: Gray;
}

legend {
  padding: 1rem 0;
  display: table;
}
fieldset {
  border: 0;
  padding: 0.01em 0 0 0;
  margin: 0;
  min-width: 0;
}

@media screen and (min-width: 768px) {

  header {
    border: none;
  }

  input[type="number"] {
    width: 35%;
  }

  form, #newsletter-header {
    width: 50%;
    margin: auto;
  }

  #border-bottom {
    border-bottom: 2px solid black;
    width: 50%;
    margin: auto;
  }

  #newsletter-header {
    margin-top: 2rem;
  }

  #newsletter-explanation {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2.5rem;
  }

  .field {
    display: flex;
  }

  #contact-info label {
    position: absolute;
    padding-top: 1rem;
  }

  #contact-info input[type="text"], #contact-info input[type="email"], #contact-info input[type="tel"] {
    width: 60%;
    margin-left: auto;
  }

  input[type="number"] {
    margin-left: 38%;
  }

  select {
    width: 62%;
    margin-left: auto;
  }

}
